torch>=2.10.0
torchaudio
funasr>=1.1.1
fastapi
modelscope
protobuf>=6.33.5 # not directly required, pinned by Snyk to avoid a vulnerability
sentencepiece>=0.2.1 # not directly required, pinned by Snyk to avoid a vulnerability
